@using System.IO
@using Microsoft.AspNetCore.Http
@model IEnumerable<Eigenproject.Models.ViewModels.PostFileViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ViewPosts";
}


<h1 style="padding-top: 50px">ViewPosts</h1>

<p>
    <a asp-action="CreatePost">Create New</a>
</p>
@foreach (var item in Model)
{
    string path = item.File;
    var extension = System.IO.Path.GetExtension(path);
<div class="postBox">
    <h5 class="center">@item.Title</h5>
    <img src="@path" class="centerImage"/>
</div>
}

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.File_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.File)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    string path = item.File;
    var extension = System.IO.Path.GetExtension(path);
    <div class="postBox">

    </div>

    <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.File_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            @if (extension == ".png")
            {
                <td>
                    <img src="@path"/>
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.File)
                <img />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>*@
